@model IEnumerable<Business.Models.LogsModel>
@{
    var task = (Business.Models.TasksModel)ViewBag.Task;
    //Model.Any() ? Model.FirstOrDefault(m => !string.IsNullOrEmpty(m.Request)).Request : "";
}
<div class="row">
    @if (task != null && !string.IsNullOrEmpty(task.PlanNum))
    {
    <div class="col-md-12 m-2">
        <a class="btn btn-info" href="@Url.Action("Index","Pdf",new { PlanNum = task.PlanNum })" target="_blank">Отчет</a>
        <a class="btn btn-danger" href="@Url.Action("ScanerGoods",new { taskId = task.Id })" target="_blank">Отсканированные товары</a>
        <a class="btn btn-primary" href="@Url.Action("DocData",new { planNum = task.PlanNum })" target="_blank">Данные с 1с</a>
    </div>
    }
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    Номер планирование
                </th>
                <th>
                    Название процесса
                </th>
                <th>
                    Комментарий
                </th>
                <th>
                    Время
                </th>
                <th>

                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @task.PlanNum
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProcessName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Response)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Request)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
