@model ScanerApi.Models.PdfViewModels
@{
    var logo = Request.Url.Scheme + "://" + Request.Url.Authority + Url.Content("~/Content/logo.png");
}
<head>
    <style type="text/css">
        body {
            padding: 20px;
            font-size: 15px;
        }

        #head {
            position: relative;
            padding: 0;
            margin: 0;
        }

            #head hr {
                background-color: red;
            }

        #title {
            margin-right: 300px;
        }

        ul {
            list-style: none !important;
            margin: 0px;
            padding: 0px;
        }

        table td, table td * {
            vertical-align: top;
        }

        thead {
            font-size: 10px;
        }

        .w25 {
            width: 25%;
        }
    </style>
</head>
<body>
    <div align="right" id="head">
        <img src="@logo" align="bottom" height="20" width="80" />
        <div style="border-bottom: 1px solid red;">
            <span id="title">АКТ ПРИЕМА ТОВАРА</span>
            <span style="font-size:9px">ТОО «Arena S» (Арена S)</span>
        </div>
    </div>
    <h3>1. №_____________</h3>
    <div>
        <span>2. </span>
        <div>
            <table>
                <tr>
                    <td style="background-color:dimgray">Время прибытия ТС</td>
                    <td>@(Model.goods.Any() ? Model.goods.First().Created.ToString("G") : "")</td>
                </tr>
                <tr>
                    <td style="background-color:dimgray">Время начала разгрузки</td>
                    <td>@DateTime.Now.ToString("G")</td>
                </tr>
                <tr>
                    <td style="background-color:dimgray">Время окончания разгрузки</td>
                    <td>@(Model.goods.Any() ? Model.goods.Last().Created.ToString("G") : "")</td>
                </tr>
            </table>
        </div>
    </div>
    <div style="margin-top:5px">
        <span>3. </span>
        <div>
            <table>
                <tr>
                    <td>Грузоотправитель (название): </td>
                </tr>
                <tr>
                    <td>Грузополучатель (название): </td>
                </tr>
                <tr>
                    <td>Перевозчик: </td>
                </tr>
                <tr>
                    <td>Транспортное средство: (машина, прицеп, контейнер, вагон) №: </td>
                </tr>
                <tr>
                    <td>Тент, шнуровка, контейнер (повреждены, не повреждены) (ненужное зачеркнуть) </td>
                </tr>
                <tr>
                    <td>Пломба/ы за №:_______________________________ нарушена, не нарушена, (ненужное зачеркнуть) </td>
                </tr>
            </table>
        </div>
    </div>
    <div style="margin-top:5px">
        <span>4. </span>
        <label style="font-weight:bold">Перечень документов, пришедших вместе с транспортным средством</label>
        <table>
            <tr>
                <td>Товарно-транспортная накладная (СМR) и/или Ж/Д накладная № </td>
            </tr>
            <tr>
                <td>Товарная накладная (инвойс) № </td>
            </tr>
            <tr>
                <td>Упаковочный лист №_______________________________ от______________  </td>
            </tr>
        </table>
    </div>
    <div style="margin-top:5px">
        <span>5. </span>
        <label style="font-weight:bold">Приняты следующие места (мезонин):</label>
        <table style="width: 100%; border-collapse: collapse;" border="1">
            <thead style="background-color:dimgray">
                <tr>
                    <th>№</th>
                    <th>№ короба</th>
                    <th>№ пломбы</th>
                    <th>№</th>
                    <th>№ короба</th>
                    <th>№ пломбы</th>
                    <th>№</th>
                    <th>№ короба</th>
                    <th>№ пломбы</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 1;

                    for (var j = 0; j < Model.goods.Count(m => m.GoodId == 0); j += 3)
                    {
                        var boxes = Model.goods.Where(m => m.GoodId == 0).Skip(j).Take(3);
                        <tr>
                            @foreach (var item in boxes)
                            {
                                <td>@i</td>
                                <td>@item.BarCode</td>
                                <td></td>
                                i++;
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
        <label style="font-weight:bold">Итого принято мест(коробов): @Model.goods.Count(m => m.GoodId == 0) шт.</label>
        <label style="font-weight:bold">Итого принято товаров: @Model.goods.Count(m => m.GoodId != 0) шт. </label>
    </div>
    <div style="margin-top:5px">
        <span>6. </span>
        <label style="font-weight:bold">Расхождения:</label>
        <label style="font-weight:bold">Таблица №1 несоответствия товара по количеству:</label>
        <table style="width: 100%; border-collapse: collapse;" border="1" class="diff">
            <thead style="background-color:dimgray;font-size:10px">
                <tr>
                    <th>№</th>
                    <th>№ РОТ</th>
                    <th>Номер короба</th>
                    <th>Артикул</th>
                    <th>Наименование модели товара</th>
                    <th>Кол-во план</th>
                    <th>Кол-во факт</th>
                    <th>Разница</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                @{
                    i = 1;
                    foreach (var item in Model.differences.receipts.ToList())
                    {
                        if (item.CountQty != item.Quantity)
                        {
                            <tr style="font-size:7px">
                                <td>@i</td>
                                <td style="padding:0 2px;">@item.NumberDoc</td>
                                <td style="padding:0 2px;">@item.Barcode</td>
                                <td style="padding:0 2px;">@item.Article</td>
                                <td class="w25">@item.GoodName</td>
                                <td style="padding:0 2px;">@item.Quantity</td>
                                <td style="padding:0 2px;">@item.CountQty</td>
                                <td style="padding:0 2px;">@(System.Math.Abs(item.CountQty - item.Quantity))</td>
                                <td style="padding:0 2px;">@(item.Quantity < item.CountQty ? "Излишек" : "Недостача")</td>
                            </tr>

                            i++;
                        }
                    }
                }
            </tbody>
        </table>
        <label style="font-weight:bold">Таблица №2 несоответствия товара по качеству:</label>
        <table style="width: 100%; border-collapse: collapse;" border="1">
            <thead style="background-color:dimgray">
                <tr>
                    <th>№</th>
                    <th>№ РОТ</th>
                    <th>Номер короба</th>
                    <th>Артикул</th>
                    <th>Наименование модели товара</th>
                    <th>Серийный номер</th>
                    <th>Описание повреждения</th>
                    <th>% ущерба</th>
                </tr>
            </thead>
            <tbody>
                @{
                    i = 0;
                    foreach (var item in Model.differences.receipts.ToList().Where(m => m.IsDefect))
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.NumberDoc</td>
                            <td>@item.Barcode</td>
                            <td>@item.Article</td>
                            <td class="w25">@item.GoodName</td>
                            <td>@item.SerialNumber</td>
                            <td>@item.Description</td>
                            <td>@item.DefectPercentage</td>
                        </tr>

                        i++;
                    }
                }
            </tbody>
        </table>
    </div>
    <div style="margin-top:5px">
        <span>7. </span>
        <label>Подписанием настоящего Акта стороны соглашаются, что он был составлен в их присутствии и с соблюдением требований законодательства Республики Казахстан.</label>
        <br />
        <span>8. </span>
        <label>Настоящий Акт составлен в двух экземплярах, по одному для каждой из Сторон.</label>
        <br />
        <span>9. </span>
        <label> Подписи сторон:</label>
        <table>
            <tr>
                <td>
                    <p style="font-weight:bold">Перевозчик</p>
                    <p>Сдал груз водитель - экспедитор:</p>
                    <label>(ФИО)__________________________________ подпись_______________</label>
                </td>
                <td>
                    <p style="font-weight:bold"> Грузоотправитель/Грузополучатель</p>
                    <p>Получил груз кладовщик:</p>
                    <label>(ФИО)__________________________________  подпись_______________</label>
                    <br />
                    <label> Менеджер (специалист) ОМ:</label>
                    <label>(ФИО)__________________________________  подпись_______________</label>
                </td>
            </tr>
        </table>
    </div>
</body>
