@model IEnumerable<Business.Models.DifferencesModel>

<div>
    <h3>АКТ ПРИЕМА ТОВАРА</h3>
    <hr />
    <h3>№_____________</h3>
    <table tyle="width: 80%; border-collapse: collapse;" border="1">
        <tr>
            <td>Дата Разгрузки</td>
            <td>_______________</td>
            <td>день</td>
            <td>_______________</td>
            <td>месяц </td>
            <td>_______________</td>
            <td>год</td>
        </tr>
        <tr>
            <td>Время начала разгрузки</td>
            <td>_______________</td>
            <td>часы</td>
            <td>_______________</td>
            <td>минуты </td>
        </tr>
        <tr>
            <td>Время окончания разгрузки</td>
            <td>_______________</td>
            <td>часы</td>
            <td>_______________</td>
            <td>минуты </td>
        </tr>
    </table>
    <ul style="list-style:none; margin:0px; padding:0px;">
        <li>Грузоотправитель (название): _______________</li>
        <li>Грузополучатель (название): ________________</li>
        <li>Транспортная компания: _____________________________</li>
        <li>Транспортное средство: (машина, прицеп, контейнер, вагон) №: _______________</li>
        <li>Тент, шнуровка, контейнер (повреждены, не повреждены) (ненужное зачеркнуть)</li>
        <li>Пломба/ы за №:_____________   нарушена, не нарушена, (ненужное зачеркнуть)</li>
    </ul>
    <p>Перечень документов, пришедших вместе с транспортным средством</p>
    <ul style="list-style:none; margin:0px; padding:0px;">
        <li>Товарно-транспортная накладная (СМR) и/или Ж/Д накладная  №_______________________________</li>
        <li>Товарная накладная (инвойс)                               №_______________________________</li>
        <li>Упаковочный лист                                          №_______________  от______________ </li>
    </ul>
    <p>Ответственные лица, в составе:</p>
    <ul style="list-style:none; margin:0px; padding:0px;">
        <li>Водитель (экспедитор)          (ФИО)________________________</li>
        <li>Кладовщик (приёмщик)         (ФИО)________________________</li>
        <li>Менеджер (специалист) ОМ (ФИО)_________________________ </li>
        <li><b>Составили настоящий акт</b></li>
    </ul>
    <br />
    <p>Приняты следующие места (мезонин):</p>
    <table style="width: 100%; border-collapse: collapse;" border="1">
        <tr>
            <td>№ места</td>
            <td>№ пломбы в коробке</td>
            <td>№ места</td>
            <td>№ пломбы в коробке</td>
            <td>№ места</td>
            <td>№ пломбы в коробке</td>
        </tr>
        <tr>
            <td>Место №1</td>
            <td></td>
            <td>Место №4</td>
            <td></td>
            <td>Место №7</td>
            <td></td>
        </tr>
        <tr>
            <td>Место №2</td>
            <td></td>
            <td>Место №5</td>
            <td></td>
            <td>Место №8</td>
            <td></td>
        </tr>
        <tr>
            <td>Место №3</td>
            <td></td>
            <td>Место №6</td>
            <td></td>
            <td>Место №9</td>
            <td></td>
        </tr>
    </table>
    <p>скотч пломбы нарушена, не нарушена, (ненужное зачеркнуть)</p>
    <p>коробка (повреждены, не повреждены) (ненужное зачеркнуть)</p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <p>Таблица №1 несоответствия товара по количеству:</p>
    <table style="width: 100%; border-collapse: collapse;" border="1">
        <tr>
            <td>№</td>
            <td>№ накладной (инвойса)</td>
            <td>н.н. / артикул товара</td>
            <td>Наименование модели товара</td>
            <td>Количество по накладной</td>
            <td>Фактическое количество</td>
            <td>Количество расхождений</td>
            <td>Статус</td>
        </tr>

        @foreach (var item in Model)
        {
            var i = 1;
            if (item.CountQty != item.Quantity)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.NumberDoc</td>
                    <td>@item.GoodArticle</td>
                    <td>@item.GoodName</td>
                    <td>@item.Quantity</td>
                    <td>@item.CountQty</td>
                    <td>@(System.Math.Abs(item.CountQty - item.Quantity))</td>
                    <td>@item.Status</td>
                </tr>

                i++;
            }
        }

    </table>
    <ul style="list-style:none; margin:0px; padding:0px;">
        <li>Водитель (экспедитор)          /(ФИО)_____________подпись_______________________</li>
        <li>Кладовщик (приёмщик)        /(ФИО)_____________подпись_______________________</li>
        <li>Менеджер (специалист) ОМ/(ФИО)_____________подпись_______________________ </li>
        <li><b>В случае обнаружении повреждения товара, данная таблица заполняется согласно таблице для ориентировочного определения ущерба товара при приеме</b></li>
    </ul>
    <p>Таблица №2 несоответствия товара по качеству:</p>
    <table style="width: 100%; border-collapse: collapse;" border="1">
        <tr>
            <td>№</td>
            <td>№ накладной (инвойса)</td>
            <td>н.н. / артикул товара</td>
            <td>Наименование модели товара</td>
            <td>Серийный номер</td>
            <td>Описание повреждения</td>
            <td>% ущерба</td>
        </tr>
    </table>
    <ul style="list-style:none; margin:0px; padding:0px;">
        <li>Водитель (экспедитор)          /(ФИО)_____________подпись_______________________</li>
        <li>Кладовщик (приёмщик)        /(ФИО)_____________подпись_______________________</li>
        <li>Менеджер (специалист) ОМ/(ФИО)_____________подпись_______________________ </li>
    </ul>
</div>
