@model IEnumerable<Business.Models.GoodsModel>
@{ ViewBag.Title = "Факт";}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GoodId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoodArticle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoxName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.GoodId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CountQty)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GoodName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GoodArticle)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BarCode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Created)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BoxName)
    </td>
</tr>
    }

</table>
